<div class="footer">
  <div class="footer-links">
    <a href="https://www.github.com/davidlusztig"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/lusztigdavid/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-heart"></i> by David in Rotterdam
  </div>
</div>