<div class="footer">
  <href= class="footer-links">
    <a href="https://www.github.com/davidlusztig"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/lusztigdavid/"><i class="fab fa-linkedin"></i></a>
    <a href="https://twitter.com/muffinsisr"><i class="fab fa-twitter-square"></i></a>
    Made with <i class="fas fa-heart"> </i> by David in Rotterdam
</div>