<div class="login-container">
<h1>Editing Lead</h1>

<%= render 'form', lead: @lead %>
<br>
<%= link_to 'Show', @lead, class: "bttn"  %>
<%= link_to 'Back', leads_path, class: "bttn"  %>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

