<div class="login-container">
<h1>Add a new lead</h1>

<%= render 'form', lead: @lead, class: "bttn"  %>
<br>
<%= link_to 'Back', leads_path, class: "bttn"  %>
</div>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br>
