
<%# <div class="home-banner">
  <h1>David Lusztig</h1>
  <p>
  <span id="banner-typed-text"></span>
</p> %>
<%# 
<div class="jumbotron">
  <h1 class="display-4">David Lusztig</h1>
  <p class="lead">FULL STACK DEVELOPER & SENIOR MARKETING PROFESSIONAL</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div> %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">DAVID LUSZTIG</h1>
    <p class="lead">is a senior online marketing professional with full-stack web developer skills</p>
      <p>
        <span id="banner-typed-text"></span>
      </p>
      <%= link_to "Log in", new_user_session_path, class: "bttn" %>
  </div>
</div>
<br>

<div class="container">
<div class="card">
  <div class="card-header">
<h1><strong>Personal Statement & Skill Set</strong></h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">
</h5>
    <p><strong>I am a senior online marketing professional with full-stack web developer and excellent communication skills.</strong></p>
    <p>I found that combining these 3 uniques carry the potential of creating a profit-oriented, agile, dynamic, scalable, and highly transparent business function. My next challenge will ideally be to build or lead a team to success at a small or medium-sized company.
    </p>
    <p class="card-text"><strong>Commercial Skills: </strong>I have spent the past 13 years, conceiving, designing, and effectively delivering Marketing and Sales funnels, MVPs, and online products. These efforts created new profit streams for Small-Medium Companies.

</p> <p> <strong>Technical Skills: </strong>I can alone or in a team concept, plan, develop commercial projects in Ruby on Rails, Javascript, Ruby, HTML, and CSS. I am fluent in SEA, SEO, social ads, email marketing, and all related user acquisition logic, flow, and management. I am a curious and stubborn problem solver!

</p> <p> <strong>Communication Skills:</strong> I have extensive experience in building “startup-fluent" and agile commercial teams as I learned in the Israeli and International Startup scenes. I am no-nonsense, analytical, result-oriented, and a natural team-player and coach.
</p>
 <p>
  <span id="banner-typed-text"></span>
</p>
    <%= link_to "Log into my demo CRM", leads_path, class: "bttn" %>
  </div>
</div>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>Every Business Needs A Backend</strong></h5>
        <p class="card-text">Peek inside this demo mini CRM's full power admin backend I built in 1 hour.</p>
        <p>Use these credentials and take a tour:</p>
        <p class="card-text"><strong>Email:</strong> admin@demo.com</p><p class="card-text"><strong>Password:</strong> password</p>
        <a href="https://davidlusztig.herokuapp.com/admin" class="bttn">Log in as Admin</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>Anyone can have a good idea</strong></h5>
        <p class="card-text">I have the skill, the experience, and the right attitude to build a team to have any idea developed and scaled.</p>
         <a href="https://www.linkedin.com/in/lusztigdavid/" class="bttn-linkedin">Let's connect on <strong>Linkedin</strong></a>
      </div>
    </div>
  </div>
</div>