<div class="container">
<h1>David Lusztig</h1>
<p>Online resume 2020 Sept 18</p>

<h3>About me</h3>
<br>
<p>About
I am an experienced digital <strong>"Can Do"</strong> professional who innovates.
I concept and design (digital) products to create new revenue streams for Corporate Companies small and large alike. I am "startup-fluent".
<br>
Skilled in Corporate Branding and Communication, Digital Strategy, Digital Product Development, User Acquisition Flows based on Cognitive Triggers and Processes, Business Development, Conversion Strategies, Lead Generation, Community building, Strategic Negotiation.

In my past 12 years in Digital Marketing and Product Innovation I have been an essential party to building an Online Casino, a CRM, a Marketing Automation Platform and dedicated tools for major global operations.
<br>
I think that every day in the past 12 years of my career I was lucky to learn something new. </p>
<div>
<ol>
<li>Check out this small intro into my new Ruby On Rails skillset</li>
<li>Sign up</li>
<li>Log in</li>
<li>Try the ADMIN function at localhost:3000/admin</li>
<li>Go have fun with the CRUD admin functions, but keep in mind...</li>

<li>Maybe I have "papertrail" set up, and so ALL your actions are logged ;)</li>
</ol>

<h3>Let's chat, you can find me on LinkedIn</h3>
</div>
</div>