
<%# <div class="home-banner">
  <h1>David Lusztig</h1>
  <p>
  <span id="banner-typed-text"></span>
</p> %>
<%# 
<div class="jumbotron">
  <h1 class="display-4">David Lusztig</h1>
  <p class="lead">FULL STACK DEVELOPER & SENIOR MARKETING PROFESSIONAL</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div> %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
      <h3 class="display-4">Hello, I am</h3>
    <h1 class="display-4">DAVID LUSZTIG</h1>
    <p class="lead">a senior online marketing professional with full-stack web developer skills.</p>
      <p>Welcome to my online resume!</p>
      <p>
  <span id="banner-typed-text"></span>
</p>
      <%= link_to "Log in", new_user_session_path, class: "bttn" %>
  </div>
</div>
<br>

<div class="container">
<div class="card">
  <div class="card-header">
<h1><strong>Personal Statement & Skill Set</strong></h1>
  </div>
  <div class="card-body">
    <h5 class="card-title">
</h5>
    <p class="card-text"><strong>Commercial Skill Set:</strong> I am a senior online marketing professional with full-stack web developer skills.
I have spent the past 13 years, conceiving, designing, and effectively delivering Marketing and Sales funnels, MVPs, and online products. These efforts created new revenue streams for Small-Medium Companies. I have extensive experience in building “startup-fluent" and agile marketing teams as I learnt in the Israeli Startup scene. I am no-nonsense, analytical, result-oriented, and a natural team-player.
</p> <p> <strong>Technical Skill Set:</strong> In 2020 I got my full-stack web developer certificate from LeWagon, Amsterdam. This means I can handle and develop commercial projects in Ruby on Rails using Javascript, Ruby, HTML, and CSS. I am fluent in SEA, SEO, social ads, email marketing, and all related user acquisition logic, flow, and management.
</p> <p> <strong>Combining the above skills</strong> carries the potential of creating a profit-oriented, agile, dynamic, scalable, and highly transparent business function within any company below the 200 people strong workforce threshold.
</p>
 <p>
  <span id="banner-typed-text"></span>
</p>
    <%= link_to "Log in", new_user_session_path, class: "bttn" %>
  </div>
</div>
<br>