.bttn{
    background: black;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.1s;
    position: relative;
    overflow: initial;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.16em;
    font-weight: bold;
    color: white;
  }
  
  
  .bttn-wide {
    display: block;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  
  .bttn-wide:hover {
    color: white;
    border-radius: 0;
  }
  