.default-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 350px 1fr;
  }
  
  .container {
    padding: 20;
  }
  
  .show-container {
    width: 50%;
    margin: 20px auto;
    position: relative;
  }
  .login-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.19);
  }
  
  .flex-container {
    display: flex;
    justify-content: space-around;
  }
  